<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Teste</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<div>
    <div style="clear:both;">
        <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; widows:0; orphans:0; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
        <table cellpadding="0" cellspacing="0" style="width:460.75pt; border-collapse:collapse;">
            <tbody>
                <tr style="height:56pt;">
                    <td style="border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:middle;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><img src="https://myfiles.space/user_files/70844_2485e9f01ddf4bcf/1606846887_relatorio-mensal-pesquisa-edital-19-2017-leonardo-leal-junho/1606846887_relatorio-mensal-pesquisa-edital-19-2017-leonardo-leal-junho.001.png" width="189" height="53" alt="Horizontal resumida.png"></p>
                    </td>
                    <td style="border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span style="font-family:Arial;">MINIST&Eacute;RIO DA EDUCA&Ccedil;&Atilde;O</span></p>
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt;"><strong><span style="font-family:Arial;">INSTITUTO FEDERAL DE EDUCA&Ccedil;&Atilde;O, CI&Ecirc;NCIA</span></strong></p>
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt;"><strong><span style="font-family:Arial;">E ********** DO TRI&Acirc;***** MINEIRO</span></strong></p>
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span style="font-family:Arial;">Pr&oacute;-Reitoria de Pesquisa, P&oacute;s-gradua&ccedil;&atilde;o e Inova&ccedil;&atilde;o</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:'Times New Roman';">&nbsp;</span></p>
    </div>
    <p style="margin-top:0pt; margin-bottom:3pt; text-align:center; line-height:115%; font-size:12pt;"><strong><span style="font-family:Arial;">RELAT&Oacute;RIO MENSAL DAS ATIVIDADES ** INICIA&Ccedil;&Atilde;O CIENT&Iacute;FICA E INOVA&Ccedil;&Atilde;O TECNOL&Oacute;GICA&nbsp;</span></strong></p>
    <p style="margin-top:0pt; margin-bottom:3pt; text-align:center; line-height:115%; font-size:12pt;"><strong><span style="font-family:Arial;">M&ecirc;s: Junho</span></strong><strong><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></strong><strong><span style="font-family:Arial;">Ano: 20</span></strong><strong><span style="font-family:Arial;">20</span></strong><strong><u><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u></strong></p>
    <table cellpadding="0" cellspacing="0" style="width:461.7pt; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr>
                <td colspan="2" style="border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial;">DADOS DO ALUNO</span></strong></p>
                </td>
            </tr>
            <tr style="height:20pt;">
                <td style="border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:150%; font-size:12pt;"><strong><span style="font-family:Arial;">Aluno bolsista (X)</span></strong></p>
                </td>
                <td rowspan="2" style="border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:150%; font-size:12pt;"><strong><u><span style="font-family:Arial;">PER&Iacute;ODO DE ATIVIDADES</span></u></strong></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:150%; font-size:12pt;"><span style="font-family:'Times New Roman';">01/06/2020 a 30/06/2020</span></p>
                </td>
            </tr>
            <tr>
                <td style="border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:150%; font-size:12pt;"><strong><span style="font-family:Arial;">***** volunt&aacute;rio (</span></strong><strong><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;</span></strong><strong><span style="font-family:Arial;">)</span></strong></p>
                </td>
            </tr>
            <tr style="height:21pt;">
                <td colspan="2" style="border-top-style:solid; border-top-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">Nome: Junior Silva Souza</span></p>
                </td>
            </tr>
            <tr style="height:20pt;">
                <td colspan="2" style="border-top-style:solid; border-top-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">Curso: Ci&ecirc;ncia da Computa&ccedil;&atilde;o</span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
    <table cellpadding="0" cellspacing="0" style="width:475.4pt; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr style="height:13pt;">
                <td style="border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial;">DADOS DO PROJETO</span></strong></p>
                </td>
            </tr>
            <tr style="height:21pt;">
                <td style="border-top-style:solid; border-top-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">T&iacute;tulo: Desenvolvimento de ** software</span></p>
                </td>
            </tr>
            <tr style="height:20pt;">
                <td style="border-top-style:solid; border-top-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">Edital:&nbsp;</span><strong><span style="font-family:Arial;">19/2017 &ndash; PIBITI IFTM Institucional</span></strong></p>
                </td>
            </tr>
            <tr style="height:20pt;">
                <td style="border-top-style:solid; border-top-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">Orientador: Joaquim ***** Silva</span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
    <table cellpadding="0" cellspacing="0" style="width:475.4pt; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr style="height:13pt;">
                <td colspan="2" style="border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial;">SITUA&Ccedil;&Atilde;O ATUAL DO PROJETO</span></strong></p>
                </td>
            </tr>
            <tr style="height:21pt;">
                <td style="border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">1 - (X) **** previsto</span></p>
                </td>
                <td rowspan="5" style="border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">Justificativa (somente para situa&ccedil;&otilde;es 3 e 4)</span></p>
                </td>
            </tr>
            <tr style="height:20pt;">
                <td style="border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">2 - (</span><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;</span><span style="font-family:Arial;">) Adiantado</span></p>
                </td>
            </tr>
            <tr style="height:20pt;">
                <td style="border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">3 - (</span><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;</span><span style="font-family:Arial;">) Atrasado</span></p>
                </td>
            </tr>
            <tr style="height:20pt;">
                <td style="border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">4 - (</span><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;</span><span style="font-family:Arial;">) N&atilde;o iniciado</span></p>
                </td>
            </tr>
            <tr style="height:20pt;">
                <td style="border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">5 - (</span><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;</span><span style="font-family:Arial;">) Conclu&iacute;do</span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
    <table cellpadding="0" cellspacing="0" style="width:475.4pt; border-collapse:collapse;">
        <tbody>
            <tr style="height:13pt;">
                <td colspan="2" style="border-style:solid; border-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial;">AVALIA&Ccedil;&Atilde;O DO ORIENTADOR ***** O ALUNO</span></strong></p>
                </td>
            </tr>
            <tr style="height:21pt;">
                <td style="border-style:solid; border-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">1 - Cumprimento ** Carga Hor&aacute;ria:&nbsp;</span><strong><span style="font-family:Arial;">20 horas semanais</span></strong></p>
                </td>
                <td style="border-style:solid; border-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:11pt;"><span style="font-family:Arial;">(</span><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;</span><span style="font-family:Arial;">) Ruim (</span><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;</span><span style="font-family:Arial;">) Regular (</span><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:Arial;">) Bom (X) &Oacute;timo</span></p>
                </td>
            </tr>
            <tr style="height:20pt;">
                <td style="border-style:solid; border-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">2 - Interesse nas atividades de pesquisa:</span></p>
                </td>
                <td style="border-style:solid; border-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:11pt;"><span style="font-family:Arial;">(</span><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;</span><span style="font-family:Arial;">) Ruim (</span><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;</span><span style="font-family:Arial;">) Regular (</span><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:Arial;">) Bom (X) &Oacute;timo</span></p>
                </td>
            </tr>
            <tr style="height:20pt;">
                <td style="border-style:solid; border-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">3-Habilidades desenvolvidas:&nbsp;</span><span style="font-family:Arial; font-size:8pt;">(autonomia, esp&iacute;rito cr&iacute;tico, criatividade, conhecimento de m&eacute;todos e t&eacute;cnicas de pesquisa, uso de outras l&iacute;nguas, etc)</span></p>
                </td>
                <td style="border-style:solid; border-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:11pt;"><span style="font-family:Arial;">(</span><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;</span><span style="font-family:Arial;">) Ruim (</span><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;</span><span style="font-family:Arial;">) Regular (</span><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:Arial;">) Bom (X) &Oacute;timo</span></p>
                </td>
            </tr>
            <tr style="height:53pt;">
                <td colspan="2" style="border-style:solid; border-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">4 - Outras informa&ccedil;&otilde;es:</span></p>
                </td>
            </tr>
            <tr style="height:41pt;">
                <td colspan="2" style="border-top-style:solid; border-top-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.75pt; padding-left:5.75pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                </td>
            </tr>
            <tr style="height:13pt;">
                <td colspan="2" style="border-style:solid; border-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial;">******* DAS ********** DESENVOLVIDAS NO M&Ecirc;S</span></strong></p>
                </td>
            </tr>
            <tr style="height:105pt;">
                <td colspan="2" style="border-style:solid; border-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-indent:43.65pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial;">Aprimoramento do m&oacute;dulo de importa&ccedil;&atilde;o de dados. In&iacute;cio da modelagem do m&oacute;dulo de segmenta&ccedil;&atilde;o. Em paralelo iniciou-se a ******* do resumo.</span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
    <table cellpadding="0" cellspacing="0" style="width:474.65pt; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr style="height:7pt;">
                <td style="border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial;">COMENT&Aacute;**** E DIFICULDADES DO ALUNO SOBRE A PROPOSTA</span></strong></p>
                </td>
            </tr>
            <tr style="height:59pt;">
                <td style="border-top-style:solid; border-top-width:0.75pt; padding-right:5.38pt; padding-left:5.38pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial;">*** percebido um problema na convers&atilde;o AD *** resultou em um retrabalho no m&oacute;dulo de importa&ccedil;&atilde;o. *** usado o ZedGraph para gera&ccedil;&atilde;o de gr&aacute;ficos e foi dado in&iacute;cio no elemento de segmenta&ccedil;&atilde;o.</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:18pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><strong><span style="font-family:Arial;">ENTREGAR AT&Eacute; O 5&ordm; DIA DE CADA M&Ecirc;S</span></strong></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:12pt;"><span style="font-family:Arial;">Ituiutaba, 02 de julho de 2018.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:8pt;"><span style="width:36pt; display:inline-block;">&nbsp;</span><span style="width:36pt; display:inline-block;">&nbsp;</span><span style="width:36pt; display:inline-block;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">______________________________</span><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:Arial;">______________________________</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><a name="_gjdgxs"></a><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:Arial;">Aluno</span><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:Arial;">Orientador</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:Arial;">Jo&atilde;o Queiroz&nbsp;</span><span style="width:16.62pt; display:inline-block;">&nbsp;</span><span style="width:36pt; display:inline-block;">&nbsp;</span><span style="width:36pt; display:inline-block;">&nbsp;</span><span style="width:36pt; display:inline-block;">&nbsp;</span><span style="width:36pt; display:inline-block;">&nbsp;</span><span style="font-family:Arial;">Luiz Junior Silva</span></p>
    <div style="clear:both;">
        <div style="border-top:0.75pt solid #000000; clear:both;">
            <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt;"><span style="font-family:Calibri;">AV Doutor Randolfo Borges ****** 2900 &ndash; Univerdecidade- Uberaba (MG) - CEP: 38.064-200</span></p>
            <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt;"><span style="font-family:Calibri;">Fones: (034) 3326-1121 / Fax: (034) 3326-1101</span></p>
        </div>
        <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:'Times New Roman';">&nbsp;</span></p>
    </div>
</div>

</body>
</html>