<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Preencher relatorio</title>
	<link rel="stylesheet" type="text/css" href="/css/styleRelatorio.css" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>

<body class="h-50 Login-Form container">
	<div class="row mainTitulo">
		<div class="col-6">
			<img src="/img/logoIF.png" width="189" height="52" class="d-inline-block align-top" alt="IFTM">
		</div>
		<div class="col-6">
			<p id="textTitulo">MINISTÉRIO DA EDUCAÇÃO
				INSTITUTO FEDERAL DE EDUCAÇÃO, CIÊNCIA
				E TECNOLOGIA DO TRI NGULO MINEIRO
				Pró-Reitoria de Pesquisa, Pós-graduação e Inovação
			</p>
		</div>
	</div>
	<p></p>
	<hr>
	<div class="col-12">
		<p id="textTitulo">RELATÓRIO MENSAL DAS ATIVIDADES DE INICIAÇÃO CIENTÍFICA E INOVAÇÃO TECNOLÓGICA <br> Mês:
			Junho Ano: 2020 </p>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td class="tituloTabela" colspan="2">DADOS DO ALUNO</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Aluno bolsista (X)</td>
				<td rowspan="2">PERÍODO DE ATIVIDADES</td>
			</tr>
			<tr>
				<td>Aluno voluntário ( )</td>
			</tr>
			<tr>
				<td colspan="2">Nome: Junior Silva Souza</td>
			</tr>
			<tr>
				<td colspan="2">Curso: Ciência da Computação</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td class="tituloTabela">DADOS DO PROJETO</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Título:</td>
			</tr>
			<tr>
				<td>Título: Desenvolvimento de um software</td>
			</tr>
			<tr>
				<td>Edital: 19/2017 – PIBITI IFTM Institucional</td>
			</tr>
			<tr>
				<td>Orientador: Joaquim Souza Silva</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td class="tituloTabela" colspan="2">SITUAÇÃO ATUAL DO PROJETO</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1 - (X) Como previsto</td>
				<td rowspan="5">Justificativa (somente para situações 3 e 4)</td>
			</tr>
			<tr>
				<td>2 - ( ) Adiantado</td>
			</tr>
			<tr>
				<td>3 - ( ) Atrasado</td>
			</tr>
			<tr>
				<td>4 - ( ) Não iniciado</td>
			</tr>
			<tr>
				<td>5 - ( ) Concluído</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td class="tituloTabela" colspan="2">AVALIAÇÃO DO ORIENTADOR SOBRE O ALUNO</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1 - Cumprimento de Carga Horária: 20 horas semanais</td>
				<td>( ) Ruim ( ) Regular ( ) Bom (X) Ótimo</td>
			</tr>
			<tr>
				<td>2 - Interesse nas atividades de pesquisa:</td>
				<td>( ) Ruim ( ) Regular ( ) Bom (X) Ótimo</td>
			</tr>
			<tr>
				<td>3-Habilidades desenvolvidas: (autonomia, espírito crítico, criatividade, conhecimento de métodos e
					técnicas de pesquisa, uso de outras línguas, etc)</td>
				<td>( ) Ruim ( ) Regular ( ) Bom (X) Ótimo</td>
			</tr>
			<tr>
				<td colspan="2">4 - Outras informações:</td>
			</tr>
		</tbody>

	</table>

	<table class="table table-bordered">
		<thead>
			<tr>
				<td class="tituloTabela" colspan="2">RESUMOS DAS ATIVIDADES DESENVOLVIDAS NO MÊS</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td height="150"></td>
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered">
		<thead>
			<tr>
				<td class="tituloTabela" colspan="2">COMENTÁRIOS E DIFICULDADES DO ALUNO SOBRE A PROPOSTA</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td height="150"></td>
			</tr>
		</tbody>
	</table>

	<p id="textPrazoEntrega">ENTREGAR ATÉ O 5º DIA DE CADA
		MÊS</p>

	<p style="text-align: right;">Ituiutata, 03 de maio de 2021</p>

	<div class="row mainTitulo">
		<div class="col-6">
			<hr>
			<p style="text-align: center;">Aluno</p>
		</div>
		<div class="col-6">
			<hr>
			<p style="text-align: center;">Orientador</p>
		</div>
	</div>
	<div>
		<hr>
		<p style="margin-top: -15px; text-align: center;">AV Doutor Randolfo Borges Junior 2900 – Univerdecidade- Uberaba (MG) - CEP: 38.064-200
			Fones: (034) 3326-1121 / Fax: (034) 3326-1101</p>
	</div>
</body>

</html>